:root {
  --robot-0-colour: red;
  --robot-1-colour: green;
  --robot-2-colour: blue;
  --robot-3-colour: yellow;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

svg {
  border: 1px solid black;
}

.grid-square {
  stroke: black;
  fill: white;
}

.grid-wall {
  stroke: black;
  stroke-width: 6px;
  stroke-linecap: square;
}

.grid-wall.ghost:not(:hover) {
  stroke: transparent;
}

.grid-wall.clickable:hover {
  cursor: pointer;
}

.robot {
  stroke: black;
}
.robot.index-0 {
  fill: var(--robot-0-colour);
}
.robot.index-1 {
  fill: var(--robot-1-colour);
}
.robot.index-2 {
  fill: var(--robot-1-colour);
}
.robot.index-3 {
  fill: var(--robot-3-colour);
}

.robot:not(.selected) {
  stroke-width: 3px;
}
.robot.index-0:not(.selected) {
  stroke: var(--robot-0-colour);
  fill: transparent;
}
.robot.index-1:not(.selected) {
  stroke: var(--robot-1-colour);
  fill: transparent;
}
.robot.index-2:not(.selected) {
  stroke: var(--robot-2-colour);
  fill: transparent;
}
.robot.index-3:not(.selected) {
  stroke: var(--robot-3-colour);
  fill: transparent;
}

.grid-square.robot-next-position {
  fill: var(--robot-1-colour);
  cursor: pointer;
}

.grid-square.target-position {
  fill: var(--robot-3-colour);
}

.grid-square.robot-next-position.target-position {
  fill: purple;
}

.distance-map-item {
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
}

.robot-path-item {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10;
}

.robot-path-item.index-0 {
  stroke: var(--robot-0-colour);
}

.robot-path-item.index-1 {
  stroke: var(--robot-1-colour);
}

.robot-path-item.index-2 {
  stroke: var(--robot-2-colour);
}

.robot-path-item.index-3 {
  stroke: var(--robot-3-colour);
}

.next-position-hitbox {
  cursor: pointer;
  stroke: transparent;
  fill: transparent;
}

.next-position-arrow {
  pointer-events: none;
}

.next-position-arrow.index-0 {
  fill: var(--robot-0-colour);
}

.next-position-arrow.index-1 {
  fill: var(--robot-1-colour);
}

.next-position-arrow.index-2 {
  fill: var(--robot-2-colour);
}

.next-position-arrow.index-3 {
  fill: var(--robot-3-colour);
}

.next-position-arrow.index-0:not(.selected):not(.undo) {
  stroke: var(--robot-0-colour);
  fill: transparent;
}

.next-position-arrow.index-1:not(.selected):not(.undo) {
  stroke: var(--robot-1-colour);
  fill: transparent;
}

.next-position-arrow.index-2:not(.selected):not(.undo) {
  stroke: var(--robot-2-colour);
  fill: transparent;
}

.next-position-arrow.index-3:not(.selected):not(.undo) {
  stroke: var(--robot-3-colour);
  fill: transparent;
}

.next-position-arrow.undo:not(.selected) {
  stroke: orange;
  fill: transparent;
}

.next-position-arrow.undo.selected {
  fill: orange;
}
