.App {
  font-family: sans-serif;
  text-align: center;
}

svg {
  border: 1px solid black;
}

.grid-square {
  stroke: black;
  fill: white;
}

.grid-wall {
  stroke: black;
  stroke-width: 6px;
  stroke-linecap: square;
}

.grid-wall.ghost:not(:hover) {
  stroke: transparent;
}

.grid-wall.clickable:hover {
  cursor: pointer;
}

.robot {
  stroke: black;
}
.robot.index-0 {
  fill: red;
}
.robot.index-1 {
  fill: green;
}
.robot.index-2 {
  fill: blue;
}
.robot.index-3 {
  fill: yellow;
}

.grid-square.robot-next-position {
  fill: green;
  cursor: pointer;
}

.grid-square.target-position {
  fill: yellow;
}

.grid-square.robot-next-position.target-position {
  fill: purple;
}

.distance-map-item {
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
}

.robot-path-item {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10;
}

.robot-path-item.index-0 {
  stroke: red;
  fill: red;
}

.robot-path-item.index-1 {
  stroke: green;
  fill: green;
}

.robot-path-item.index-2 {
  stroke: blue;
  fill: blue;
}

.robot-path-item.index-3 {
  stroke: yellow;
  fill: yellow;
}

.next-position-hitbox {
  cursor: pointer;
  stroke: transparent;
  fill: transparent;
}

.next-position-arrow {
  pointer-events: none;
}

.next-position-arrow.index-0 {
  fill: red;
}

.next-position-arrow.index-1 {
  fill: green;
}

.next-position-arrow.index-2 {
  fill: blue;
}

.next-position-arrow.index-3 {
  fill: yellow;
}

.next-position-arrow.undo {
  fill: orange;
}
